<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mt-5">
            <h2 class="mb-3">Input Decorator</h2>
            <div class="border rounded">
                <div class="p-3">
                    <p class="font-weight-bold">App component</p>
                    <div class="form-group">
                        <label for="type-something-input">Type something</label>
                        <input type="text" class="form-control" id="type-something-input"
                            [formControl]="inputComponentFormControl" [ngClass]="{
                                'is-invalid': inputComponentFormControl.invalid && inputComponentFormControl.touched
                            }">
                        <div class="invalid-feedback">
                            <p>Type something before testing!</p>
                        </div>
                    </div>
                    <app-input-example [formControlValue]="inputComponentFormControl.value"></app-input-example>
                </div>
            </div>
        </div>
    </div>
</div>